// This is where bulma variables will be customized

@charset "utf-8";
$breakpoint-mobile: 800px;

.card-image:first-child img {
  height: 10em;
  object-fit: cover
}

@import "../node_modules/bulma/bulma.sass";

html,
body {
  margin: 0.5em 1em 0 1em;

  @media (max-width: $breakpoint-mobile) {
    margin: 0.5em 0.2rem 0 0.2rem;
  }

  background-color: rgb(251, 249, 249);
  font-family: 'Lato', sans-serif;

}

