.mainWrapper {
  margin-left: 2rem;
  margin-right: 2rem;
}

.deploymentIdTagGroup {
  margin-top: 2rem;
}

.postSaveStateTag {
  margin-bottom: 1rem;
  span {
    font-size: 0.888rem;

  }
}

.newPostButton {
  margin-bottom: 1rem;
}

.postsHeader {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.postCardDeleteButton {
  width: fit-content;
}
