.billboard {
  h3 {
    font-size: 1.8rem;
    padding-bottom: 0.8rem;
    color: rgb(141, 141, 141);
  }

  p {
    color: black;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  margin: 0 auto;
  margin-bottom: 2rem;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  width: 50%;
  font-family: 'Lato', sans-serif;

}
