.headingBeforePostGrid {
  text-decoration: underline;
  font-size: 2.2rem;
  font-weight: bold;
}

.headingBeforePostGridCatDesc {
  color: rgb(82, 82, 82);
}

.postsByCatHeadingContainer {
  margin-left: 5.9vw;
  margin-bottom: 1rem;
}

$breakpoint-mobile: 700px;
.homePageBillboard {
  padding-bottom: 5vw;

  div {
    @media (max-width: $breakpoint-mobile) {
      width: 90%;
    }
  }
  
  h3 {
    font-size: 3.7rem;
    line-height: 3.8rem;

    @media (max-width: $breakpoint-mobile) {
      font-size: 2.7rem;
    }
  }
}

.seeAllLink {
  font-size: 1.5rem;
  text-decoration: underline;
  padding-left: 6vw;
  margin-top: 5vh;
  margin-bottom: 14vh;
}

.popularTags {
  a { 
    color: #5c5c5c;
  }
}

.mostVisitedCard {
  div {
    padding: 0 1rem 1.4rem 1.5rem;
    font-size: 1.3rem;
    line-height: 1.6rem;

    a {
      color: rgb(34, 34, 34);

      &:hover {
        color: rgb(105, 105, 105);
      }
    }
  }

  .mostVisitedCardItem {
    border-bottom: solid #ebebeb 0.1rem;
    margin-bottom: 0.7rem;
  }
}


/* The animation code */
@keyframes flashGreenColor {
  from {background-color: #57f576;}
  to {background-color: none}
}
.newestPostHeading {
  font-size: 2rem;
  margin-bottom: 0.3rem;
  width: fit-content;
  animation-name: flashGreenColor;
  animation-duration: 2s;
}
