$breakpoint-mobile: 690px;

.mainSection {
  margin-left: 2rem;
  margin-right: 2rem;

  @media (max-width: $breakpoint-mobile) {
    margin-left: 0.04rem;
    margin-right: 0.04rem;
  }

  padding-top: 10vh;
}

.footer {
  width: 100%;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerLogo {
  width: 230px;
}

.twitterIcon {
  margin-top: 0.8rem;
}
