$breakpoint-large-mobile: 735px;
$breakpoint-mobile: 700px;

.navBar {
  
  align-items: center;
  width: 100%;
  display: flex;
 
  box-sizing: border-box;
  padding-top: 1.9vw;
  padding-left: 6vw;
  padding-right: 6vw;
  transition: padding 140ms ease-in-out;

  font-family: 'Lato', sans-serif;

  .section1 {
    flex: 1 1 28%;
    display: inline-flex;
    flex-wrap: wrap;

    font-size: 1.15rem;
    justify-content: center;

    @media (max-width: $breakpoint-large-mobile) {
      justify-content: space-between;
    }

    @media (max-width: $breakpoint-mobile) {
      font-size: 1.7rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      a:not(:last-child) {
        border-bottom: solid rgb(228, 228, 228) 0.1rem;
      }
    }

    a {
      color: rgb(29, 29, 29);
    }

    a:not(:last-child) {

      margin-right: 1.2vw;
    }
  }

  .section2 {
    flex: 1 1 40%;
    text-align: center;
  }

  .section3 {
    align-items: center;
  }
}

.navBarItems {
  width: 100%;
}

.navBarColumn1 {
  display: flex;
}

.navBarColumn2 {
  display: flex;
  justify-content: center;
  a { 
    color:rgb(77, 77, 77);
  }
}

.navBarColumn3 {
  display: flex;
  justify-content: center;
}

