.postContent {
//  s 
}

.mainContent {
  p {
    font-size: 1.35rem;
  }

  a {
    text-decoration: underline;
  }
}

.tagListItem {
  font-size: 1.1rem;
  color:gray;
}

.mainTitle {
  text-align: center;
  font-size: 4.5rem;
}
