.postGrid {
  width: 100%;
  padding-left: 6vw;
  padding-right: 6vw;
  transition: padding 140ms ease-in-out;

  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  grid-column-gap: 66px;
  // grid-row-gap: 85px;
  grid-row-gap: 60px;

  grid-auto-rows: min-content;
  min-height: 10rem;
}

$breakpoint-tablet: 1000px;
$breakpoint-mobile: 700px;
@media (max-width: $breakpoint-tablet) {
  .postGrid {

    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

@media (max-width: $breakpoint-mobile) {
  .postGrid {

    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}

.imageWrapper {
  display: block;

  img {
    height: 22vw;
    transition: height 80ms ease-in-out;
    object-fit: cover;

    @media (max-width: $breakpoint-mobile) {
      height: 35vw;
      width: 29rem;
    }
  }
}

.gridItem {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridItemText {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  @media (max-width: $breakpoint-mobile) {
    text-align: left;
  }
}

.gridItemTextMeta {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
  color: #5e5e5e;
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 1.2rem;
    margin-bottom: 0rem;
  }
}

.gridItemTextTitle {
  font-size: 1.4rem;
  color: rgb(50, 50, 50);
  line-height: 1.78rem;

  @media (max-width: $breakpoint-mobile) {
    line-height: 2.3rem;
  }
}
