$breakpoint-tablet: 1000px;
$two_column_display: 1280px;
$three_column_display: 1490px;
$four_column_display: 1690px;
$breakpoint-mobile: 700px;

.heading {
  text-decoration: underline;
  font-size: 2.2rem;
  font-weight: bold;
}

.postGrid {
  width: 100%;
  transition: padding 140ms ease-in-out;

  display: grid;
  grid-template-columns: repeat(5,minmax(0,1fr));
  grid-column-gap: 50px;
  grid-row-gap: 20px;

  grid-auto-rows: min-content;
  min-height: 10rem;

  @media (max-width: $four_column_display) {
    grid-template-columns: repeat(4,minmax(0,1fr));
  }
  @media (max-width: $three_column_display) {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
  @media (max-width: $two_column_display) {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
  @media (max-width: $breakpoint-mobile) {
    padding-left: 0;
    padding-right: 0;
    row-gap: 9px;
  }
}

@media (max-width: $breakpoint-tablet) {
  .postGrid {

    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

@media (max-width: $breakpoint-mobile) {
  .postGrid {

    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}

.imageWrapper {
  display: block;

  img {
    height: 13rem;
    width: 32vw;
    transition: height 80ms ease-in-out;
    object-fit: cover;

    &:hover {
      opacity: 90%;
      transform:skewY(20)
    }

    @media (max-width: $two_column_display) {
      width: 78vw;
      
    }

    @media (max-width: $breakpoint-mobile) { 
      grid-column: 1 / span 1;

      $img-corner-radius: 0.4rem;
      border-top-left-radius: $img-corner-radius;
      border-bottom-left-radius: $img-corner-radius;

    }
  }
}

.postGridItemV2TextContent {
  @media (max-width: $breakpoint-mobile) {
    grid-column: 2 / span 1;
    height: 100%;
  }
}

.gridItem {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $breakpoint-mobile) {

    display: grid;
    grid-template-columns: 36% 1fr;
    column-gap: 15px;

    &:not(:last-child) {
      border-bottom: solid #e9e9e9 1.9px;
      // padding-bottom: 0.7rem;
    }
  }
  
}

.gridItemText {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  @media (max-width: $breakpoint-mobile) {
    text-align: left;
  }
}

.gridItemTextV2 {
  display: grid;
  grid-template-columns: 57.8% 1fr;
  
}

.gridItemTextMeta {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
  color: #5e5e5e;
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 1.2rem;
    margin-bottom: 0rem;
  }
}

.gridItemTextMetaV2 {
  display: flex;
  flex-direction: column;
  font-size: 0.58rem;
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
  color: #5e5e5e;
  padding-left: 1.1rem;
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 1.2rem;
    margin-bottom: 0rem;
  }
}

.gridItemTextTitle {
  font-size: 1.4rem;
  color: rgb(50, 50, 50);
  line-height: 1.78rem;

  @media (max-width: $breakpoint-mobile) {
    line-height: 2.3rem;
  }
}

.gridItemTextTitleV2 {
  font-size: 1.2rem;
  color: rgb(50, 50, 50);
  line-height: 1.4rem;
  margin-bottom: 0.2rem;
  margin-top: 0.4rem;

  @media (max-width: $breakpoint-mobile) {
    font-size: 1rem;
  }
}

.gridItemTextDescV2 {
  font-size: 1rem;
  color: #9b9999;
  margin-top: 0.4rem;
  @media (max-width: $breakpoint-mobile) {
    font-size: 0.8rem;
  }
}

.gridItemV2CatAndDateContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.gridItemV2PublishedDate {
  font-size: 0.7rem;
  color:  rgb(124, 124, 124);
}

.postGridItemV2TagGroup {
  margin-top: 0.27rem;
  justify-content: flex-end;
  span {
    background-color: rgb(108, 108, 108);
    font-size: 0.58rem;
    margin-left: 0.3rem !important;
    margin-right: 0 !important;
    &:hover {
      background-color: rgb(78, 78, 78);
    }
    @media (max-width: $breakpoint-mobile) {
      font-size: 0.55rem;
    }

    a {
      color: rgb(250, 250, 250);
      &:hover {
        color:rgb(255, 255, 255);
      }
    }

  }
}
