$breakpoint-mobile: 500px;

.publishedDate {
  margin: 1rem 0 -2em 2.8rem;
}

.viewCount {
  @media (max-width: $breakpoint-mobile) {
    display: block;
    padding-left: 0.5rem;
  }

  padding-left: 0.3rem;
  margin-bottom: 1.68rem;
  color: #787878;

  .viewCountIcon {
    height: 1.31rem;
    position: relative;
    top: 0.33rem;
    margin-right: -0.11rem;
    opacity: 90%;
    left: -0.3rem;
  }

  span {
    font-size: 1.08rem;
  }
}

.publishedDateTagGroup {
  margin-bottom: 0;

  span:first-child {
    font-size: 0.83rem;
  }
  span:last-child {
    font-size: 0.83rem;
  }
}

.viewCountDateContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-bottom: 2rem;

  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}
